#steps to communicate with oracle 
1. connection creation
2. cursor creation
3. execute query
4. read data from cursor
5. close cursor
6. close connection

In [1]:
import cx_Oracle

!pip install cx_oracle

In [2]:
#cx_Oracle.py
import cx_Oracle

In [3]:
type(cx_Oracle)

module

In [6]:
#connection creation
conn = cx_Oracle.connect('c##scott/tiger@XE') # localhost or 127.0.0.1

In [7]:
#cursor
cur = conn.cursor()

In [8]:
#query execution with cursor
cur.execute('select * from dept')

In [9]:
#read data from cursor
type(cur)

cx_Oracle.Cursor

In [10]:
pprint

Pretty printing has been turned OFF

In [11]:
dir(cur)

['__class__', '__delattr__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__ne__', '__new__', '__next__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '_get_oci_attr', '_set_oci_attr', 'arraysize', 'arrayvar', 'bindarraysize', 'bindnames', 'bindvars', 'callfunc', 'callproc', 'close', 'connection', 'description', 'execute', 'executemany', 'executemanyprepared', 'fetchall', 'fetchmany', 'fetchone', 'fetchraw', 'fetchvars', 'getarraydmlrowcounts', 'getbatcherrors', 'getimplicitresults', 'inputtypehandler', 'lastrowid', 'outputtypehandler', 'parse', 'prefetchrows', 'prepare', 'rowcount', 'rowfactory', 'scroll', 'scrollable', 'setinputsizes', 'setoutputsize', 'statement', 'var']

In [13]:
next(cur)

(20, 'RESEARCH', 'DALLAS')

In [14]:
for i in cur:
    print(i)

(30, 'SALES', 'CHICAGO')
(40, 'OPERATIONS', 'BOSTON')

In [15]:
for i in cur:
    print(i)

In [16]:
#close cursor
cur.close()

In [17]:
#close connection
conn.close()

In [18]:
#read the data from oracle database
conn = cx_Oracle.connect('c##scott/tiger@XE')
cur = conn.cursor()
cur.execute('select * from dept')
for i in cur:
    print(i)
cur.close()
conn.close()

(10, 'ACCOUNTING', 'NEW YORK')
(20, 'RESEARCH', 'DALLAS')
(30, 'SALES', 'CHICAGO')
(40, 'OPERATIONS', 'BOSTON')

In [19]:
#read the data from oracle database
conn = cx_Oracle.connect('c##scott/tiger@XE')
cur = conn.cursor()
cur.execute('select * from dept')
deptdata = cur.fetchmany()
print(deptdata)
cur.close()
conn.close()

[(10, 'ACCOUNTING', 'NEW YORK'), (20, 'RESEARCH', 'DALLAS'), (30, 'SALES', 'CHICAGO'), (40, 'OPERATIONS', 'BOSTON')]

In [20]:
deptdata

[(10, 'ACCOUNTING', 'NEW YORK'), (20, 'RESEARCH', 'DALLAS'), (30, 'SALES', 'CHICAGO'), (40, 'OPERATIONS', 'BOSTON')]

In [21]:
type(deptdata)

In [22]:
deptdata[0]

(10, 'ACCOUNTING', 'NEW YORK')

In [23]:
deptdata[:]

[(10, 'ACCOUNTING', 'NEW YORK'), (20, 'RESEARCH', 'DALLAS'), (30, 'SALES', 'CHICAGO'), (40, 'OPERATIONS', 'BOSTON')]

In [24]:
deptdata[0][1]

'ACCOUNTING'

In [28]:
#Read the data from oracle database using fetchall method of cursor
conn = cx_Oracle.connect('c##scott/tiger@XE')
cur = conn.cursor()
cur.execute('select * from dept')
deptdata = cur.fetchmany(2)
print(deptdata)
cur.close()
conn.close()

[(10, 'ACCOUNTING', 'NEW YORK'), (20, 'RESEARCH', 'DALLAS')]

In [26]:
#read the data from oracle database
conn = cx_Oracle.connect('c##scott/tiger@XE')
cur = conn.cursor()
cur.execute('select * from dept')
deptdata = cur.fetchall()
print(deptdata)
cur.close()
conn.close()

[(10, 'ACCOUNTING', 'NEW YORK'), (20, 'RESEARCH', 'DALLAS'), (30, 'SALES', 'CHICAGO'), (40, 'OPERATIONS', 'BOSTON')]

In [29]:
#read the data from oracle database using fetchone method of cursor
conn = cx_Oracle.connect('c##scott/tiger@XE')
cur = conn.cursor()
cur.execute('select * from dept')
print(cur.fetchone())
print(cur.fetchone())
cur.close()
conn.close()

(10, 'ACCOUNTING', 'NEW YORK')
(20, 'RESEARCH', 'DALLAS')

In [38]:
#data based on deptno
#read the data from oracle database
conn = cx_Oracle.connect('c##scott/tiger@XE')
cur = conn.cursor()
deptno = input("Enter Department Number = ")
cur.execute('select * from dept where deptno={}'.format(deptno))
deptdata = cur.fetchall()
print(deptdata)
cur.close()
conn.close()

DatabaseError: ORA-01017: invalid username/password; logon denied

In [31]:
def deptdata(deptno):
    conn = cx_Oracle.connect('c##scott/tiger@XE')
    cur = conn.cursor()
    cur.execute('select * from dept where deptno={}'.format(deptno))
    deptdata = cur.fetchall()
    cur.close()
    conn.close()
    return deptdata

In [33]:
deptdata(70)

[]

In [34]:
deptdata("hi")

DatabaseError: ORA-00904: "HI": invalid identifier

In [35]:
class DatabaseError(Exception):
    pass

In [36]:
class NoDataFound(Exception):
    pass

In [37]:
class InvalidDeptNumber(Exception):
    pass

In [39]:
def deptdata(deptno):
    try:
        conn = cx_Oracle.connect('c##scott/tiger@XE')
        cur = conn.cursor()
        if str(deptno).isdigit():
            cur.execute('select * from dept where deptno={}'.format(deptno))
            deptdata = cur.fetchall()
        elif str(deptno).isalpha():
            raise InvalidDeptNumber
        if len(deptdata)==0:
            raise NoDataFound
    except(NoDataFound):
        print("No Records for given deptno {}".format(deptno))
    except(InvalidDeptNumber):
        print("Department Number should be integer")
    else:
        return deptdata
    finally:
        cur.close()
        conn.close()

In [40]:
deptdata(10)

[(10, 'ACCOUNTING', 'NEW YORK')]

In [41]:
deptdata(50)

No Records for given deptno 50

In [42]:
deptdata("ACCOUNTING")

Department Number should be integer

In [43]:
#data based on deptno
#read the data from oracle database
conn = cx_Oracle.connect('c##scott/tiger@XE')
cur = conn.cursor()
deptno = input("Enter Department Number = ")
cur.execute('select * from emp where deptno={}'.format(deptno))
deptdata = cur.fetchall()
print(deptdata)
cur.close()
conn.close()

Enter Department Number = 10
[(7782, 'CLARK', 'MANAGER', 7839, datetime.datetime(1981, 6, 9, 0, 0), 2450.0, None, 10), (7839, 'KING', 'PRESIDENT', None, datetime.datetime(1981, 11, 17, 0, 0), 5000.0, None, 10), (7934, 'MILLER', 'CLERK', 7782, datetime.datetime(1982, 1, 23, 0, 0), 1300.0, None, 10)]

In [44]:
#data based on deptname
#read the data from oracle database
conn = cx_Oracle.connect('c##scott/tiger@XE')
cur = conn.cursor()
dname = input("Enter Department Name = ").upper()
cur.execute("select * from emp where deptno=(select deptno from dept where dname='{}')".format(dname.upper()))
deptdata = cur.fetchall()
print(deptdata)
cur.close()
conn.close()

Enter Department Name = accounting
[(7782, 'CLARK', 'MANAGER', 7839, datetime.datetime(1981, 6, 9, 0, 0), 2450.0, None, 10), (7839, 'KING', 'PRESIDENT', None, datetime.datetime(1981, 11, 17, 0, 0), 5000.0, None, 10), (7934, 'MILLER', 'CLERK', 7782, datetime.datetime(1982, 1, 23, 0, 0), 1300.0, None, 10)]

In [45]:
#INSERT INTO TABLE
conn = cx_Oracle.connect('c##scott/tiger@XE')
cur = conn.cursor()
cur.execute("insert into student values(101,'ravi','python',10000)")
conn.commit()
print("One Record inserted successfully")
cur.close()
conn.close()

One Record inserted successfully

In [ ]:
import cx_Oracle

In [46]:
student_data = [(102,'RAMU','JAVASCRIPT',25000),(103,'suri','fullstack',1000),(104,'varma','django',11000)]

In [47]:
#INSERT BULK DATA
conn = cx_Oracle.connect('c##scott/tiger@XE')
cur = conn.cursor()
cur.executemany("insert into student(sid,sname,course,fee) values(:sid,:sname,:course,:fee)",student_data)
conn.commit()
print("Data stored successfully")
cur.close()
conn.close()

Data stored successfully

In [ ]:
#procedure
#function

In [48]:
#calling Oracle procedure to store new student data
sid = input("Enter student ID:")
sname = input("Enter student Name:")
scourse = input("Enter course Name:")
fee = int(input("Enter coure Fee:"))
conn = cx_Oracle.connect('c##scott/tiger@XE')
cur = conn.cursor()
cur.callproc("newstudent",(sid,sname,scourse,fee))
conn.commit()
print("Transaction completed successfully")
cur.close()
conn.close()

Enter student ID:105
Enter student Name:kumar
Enter course Name:react
Enter coure Fee:12000
Transaction completed successfully

In [ ]:
#filedata to table

In [49]:
"101,raju,python,8000".split(",")

['101', 'raju', 'python', '8000']

In [50]:
sid,sname,course,fee = "101,raju,python,8000".split(",")
print(sid)
print(sname)
print(course)
print(fee)

101
raju
python
8000

In [51]:
type(sid)

In [52]:
type(fee)

In [ ]:
import cx_Oracle

In [53]:
fname=r"D:\pfiles\students.txt"

In [54]:
fobj = open(fname)
conn = cx_Oracle.connect("c##scott/tiger@XE")
cur = conn.cursor()
for i in fobj:
    sid,sname,course,fee = i.split(",")
    cur.callproc('newstudent',(int(sid),sname,course,float(fee)))
conn.commit()
print("Transaction completed sucessfully")
cur.close()
conn.close()

Transaction completed sucessfully